@using InfrastructureCore.Models.Identity;
@using Modules.Common.Models;

@model SYUser
@{
    Layout = null;
    bool adminUpdate = ViewBag.AdminUpdate;
}

<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
        <div class="form">
            <input hidden type="text" id="txtUserID" value="@Model.UserID" />
            <input hidden type="text" id="txtAdminUpdate" value="@(adminUpdate==true?"true":"false")" />
            <div class="dx-field">
                <div class="dx-field-label pt-0">@_loc.GetLocalizedString("LoginId")</div>
                <div class="dx-field-value">
                    <p class="mb-0" id="txtLoginId">@Model.UserCode</p>    @* Userlogin là usercode lun *@
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label pt-0">@_loc.GetLocalizedString("UserName")</div>
                <div class="dx-field-value d-flex align-item-center">
                    <p class="mb-0" id="txtUserName">@Model.UserName</p>
                </div>
            </div>
            @if (adminUpdate == false)
            {
                <div class="dx-field">
                    <div class="dx-field-label">@_loc.GetLocalizedString("Old Password")</div>
                    <div class="dx-field-value">
                        @(Html.DevExtreme().TextBox().Mode(TextBoxMode.Password).ID("txtOldPassword"))
                    </div>
                </div>
            }
            <div class="dx-field">
                <div class="dx-field-label">@_loc.GetLocalizedString("New Password")</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().TextBox().Mode(TextBoxMode.Password).ID("txtNewPassword"))
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">@_loc.GetLocalizedString("Confirm New Password")</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().TextBox().Mode(TextBoxMode.Password).ID("txtConfirmPassword"))
                </div>
            </div>
        </div>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="SaveChangePassword()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>

<script>
     // Save change password
    function SaveChangePassword() {
        LoadingPage(1);
        CheckSession();
        var userID = $("#txtUserID").val();
        var adminUpdate = $("#txtAdminUpdate").val();
        var oldPassword = "";
        if (adminUpdate == "false") {
            oldPassword = $("#txtOldPassword").dxTextBox("instance").option("value");
        }
        var newPassword = $("#txtNewPassword").dxTextBox("instance").option("value");
        var confirmPassword = $("#txtConfirmPassword").dxTextBox("instance").option("value");

        if (newPassword == "" || confirmPassword == "") {
            LoadingPage(0);
            DevExpress.ui.dialog.alert("Please input new password and confirm password!", "Warning");
        }
        else {
            if (newPassword === confirmPassword) {
                var result = DevExpress.ui.dialog.confirm("<i>@MessageCode.MD0003</i>", "Confirm changes");
                result.done(function (dialogResult) {
                    if (dialogResult) {
                        $.ajax({
                            url: '@Url.Action("ChangePassword", "User")',
                            type: "POST",
                            data: { userID: userID, adminUpdate: adminUpdate, oldPassword: oldPassword, newPassword: newPassword },
                            dataType: "json",
                            success: function (rs) {
                                LoadingPage(0);
                                if (rs.Success == true) {
                                    $("#modalControl").modal("hide");
                                    DevExpress.ui.dialog.alert(rs.Message, "Success");
                                }
                                else {
                                    DevExpress.ui.dialog.alert(rs.Message, "Warning");
                                }
                            }
                        });
                    } else {
                        LoadingPage(0);
                        return;
                    }
                });
            }
            else {
                LoadingPage(0);
                DevExpress.ui.dialog.alert("Confirm password is incorrect", "Warning");
            }
        }
        LoadingPage(0);
    }
</script>