@{
    Layout = null;
    var pageId = Model.PAG_ID;

    string ddlCategory = "ddlCategory" + ViewBag.Thread;
    string ddlItemClass = "ddlItemClass" + ViewBag.Thread;
    string ddlItemClassSub1 = "ddlItemClassSub1" + ViewBag.Thread;
    string ddlItemClassSub2 = "ddlItemClassSub2" + ViewBag.Thread;

}
<script>
    debugger;
        var selectedRowItemsMST = undefined;
        var categorySelected = [];

        $(document).ready(function () {
            alert('hello mennn');
            LoadingPage(1);
            debugger;
            var projectStatus = MES_ComCodeDtls.filter(grCd => grCd.GROUP_CD == "IMTP00");
            var searchAll = {};
            searchAll['BASE_NAME'] = 'All';
            searchAll['BASE_CODE'] = 'All';

            projectStatus.unshift(searchAll);

            $("#ddlCategory@(ViewBag.Thread)").dxSelectBox({
                dataSource: projectStatus,
                displayExpr: "BASE_NAME",
                valueExpr: "BASE_CODE"
            });
            setTimeout(function () { LoadingPage(0); }, 1500);
        })


    //debugger;
    //console.log("menuObject: ", menuObject);
    //var pageId = menuObject.ProgramID;


    function PassingItemCodeMST(selectedRow) {
        debugger;
        selectedRow = JSON.parse(selectedRow);
        selectedRowItemsMST = selectedRow;
        return selectedRow;
    }

    function FN_GetItemCodeMst() {
        debugger;
        if (selectedRowItemsMST === undefined) {
            var result = DevExpress.ui.dialog.alert("Please select itemcode master first to insert.", "Error");
            result.done(function (dialogResult) {
                return;
            });
        }
        return typeof selectedRowItemsMST !== 'undefined' ? selectedRowItemsMST.ItemCode : undefined;
    }

    function clearddlItemClassSub2Input() {
        $('#ddlItemClassSub2@(ViewBag.Thread)').dxSelectBox('instance').reset();
        var ddlItemClassSub2 = $('#ddlItemClassSub2@(ViewBag.Thread)').dxSelectBox('instance');
        ddlItemClassSub2.option("dataSource", null);
    }

    function clearddlItemClassSub1Input() {
        $('#ddlItemClassSub1@(ViewBag.Thread)').dxSelectBox('instance').reset();
        var ddlItemClassSub1 = $('#ddlItemClassSub1@(ViewBag.Thread)').dxSelectBox('instance');
        ddlItemClassSub1.option("dataSource", null);
    }

    function clearddlddlItemClassInput() {
        $('#ddlItemClass@(ViewBag.Thread)').dxSelectBox('instance').reset();
        var ddlItemClass = $('#ddlItemClass@(ViewBag.Thread)').dxSelectBox('instance');
        ddlItemClass.option("dataSource", null);
    }

    function onddlCategoryChange(data) {
        LoadingPage(1);
        debugger;
        //let categorySelected = data.value;
        categorySelected = data.value;

        eval('setValue_txt_Category_' +@pageId+'("' + categorySelected + '")'); // set to hidden field txt_Category to post Server
        if (categorySelected == null) {
            // clear input ddl ItemClass
            clearddlddlItemClassInput();
            // clear input ddl ddlItemClassSub1
            clearddlItemClassSub1Input();
            // clear input ddl ddlItemClassSub2
            clearddlItemClassSub2Input();
            LoadingPage(0);
            return;
        }
        // clear input ddl ItemClass
        clearddlddlItemClassInput();
        // clear input ddl ddlItemClassSub1
        clearddlItemClassSub1Input();
        // clear input ddl ddlItemClassSub2
        clearddlItemClassSub2Input();
        // Query to find Item Class
        $.ajax({
            url: '@Url.Action("GetListItemClassByCategory", "MESItemClass")',
            type: "GET",
            data: { categorySelected: categorySelected },
            dataType: 'json',
            success: function (result) {
                var ddl =  $('#ddlItemClass@(ViewBag.Thread)').dxSelectBox('instance');
                ddl.option("dataSource", result.data);
                LoadingPage(0);
            }, error: function (result) {
                LoadingPage(0);
                return;
            }
        });
        LoadingPage(0);
    }

    function onddlItemClassChange(data) {
        let itemClassSelected = data.value;
        eval('setValue_txt_ItemClass_' +@pageId+'("' + itemClassSelected + '")'); // set to hidden field txt_ItemClass to post Server
        if (itemClassSelected == null) {
            // clear input ddl ddlItemClassSub1
            clearddlItemClassSub1Input();
            // clear input ddl ddlItemClassSub2
            clearddlItemClassSub2Input();
            return;
        }
        // clear input ddl ddlItemClassSub1
        clearddlItemClassSub1Input();
        // clear input ddl ddlItemClassSub2
        clearddlItemClassSub2Input();
        // Query to find Item Class(Sub1)
        $.ajax({
            url: '@Url.Action("GetListItemClassSub1ByItemClass", "MESItemClass")',
            type: "GET",
            data: { categorySelected : categorySelected, itemClassSelected : itemClassSelected },
            dataType: 'json',
            success: function (result) {
                var ddl = $('#ddlItemClassSub1@(ViewBag.Thread)').dxSelectBox('instance');
                ddl.option("dataSource", result.data);
            }
        });
    }

    function onddlItemClassSub1Change(data) {
        let itemClassSub1Selected = data.value;
        eval('setValue_txt_ItemClassSub1_' +@pageId+'("' + itemClassSub1Selected + '")'); // set to hidden field txt_ItemClassSub1 to post Server
        if (itemClassSub1Selected == null) {
            // clear input ddl ddlItemClassSub2
            clearddlItemClassSub2Input();
            return;
        }
        clearddlItemClassSub2Input();
        // Query to find Item Class(Sub1)
        $.ajax({
            url: '@Url.Action("GetListItemClassSub2ByItemClassSub1", "MESItemClass")',
            type: "GET",
            data: { categorySelected: categorySelected, itemClassSub1Selected: itemClassSub1Selected },
            dataType: 'json',
            success: function (result) {
                var ddl = $('#ddlItemClassSub2@(ViewBag.Thread)').dxSelectBox('instance');
                ddl.option("dataSource", result.data);
            }
        });
    }

    function onddlItemClassSub2Change(data) {
        let itemClassSub2Selected = data.value;
        eval('setValue_txt_ItemClassSub2_' +@pageId+'("' + itemClassSub2Selected + '")'); // set to hidden field txt_ItemClassSub2 to post Server
    }

</script>
<div class="col-6 pl-0">
    <div class="form-group row mb-0">
        <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <label for="Category">@_loc.GetLocalizedString("Category")</label>
            @(Html.DevExtreme().SelectBox()
                                .ID(ddlCategory)
                                //.DataSource(d => d.Mvc().Controller("MESComCode").LoadAction("GetListComCodeDTLAll").LoadParams(new { groupCD = "IMTP00" }))
                                //.DisplayExpr("BASE_NAME1")
                                //.ValueExpr("BASE_CODE")
                                .SearchEnabled(true).ShowClearButton(true)
                                .OnValueChanged("onddlCategoryChange")
                            )
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <label for="ItemClass">@_loc.GetLocalizedString("Item Class")</label>
            @(Html.DevExtreme().SelectBox()
                                .ID(ddlItemClass)
                                .DisplayExpr("ItemClassCode")
                                .ValueExpr("ItemClassCode")
                                .OnValueChanged("onddlItemClassChange")
                                .SearchEnabled(true).ShowClearButton(true)
                                .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                            )
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <label for="ItemClass(Sub1)">@_loc.GetLocalizedString("Item Class(Sub1)")</label>
            @(Html.DevExtreme().SelectBox()
                                .ID(ddlItemClassSub1)
                                .DisplayExpr("ItemClassCode")
                                .ValueExpr("ItemClassCode")
                                .OnValueChanged("onddlItemClassSub1Change")
                                .SearchEnabled(true).ShowClearButton(true)
                                .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                            )
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <label for="Item Class(Sub2)">@_loc.GetLocalizedString("Item Class(Sub2)")</label>
            @(Html.DevExtreme().SelectBox()
                                .ID(ddlItemClassSub2)
                                .DisplayExpr("ItemClassCode")
                                .ValueExpr("ItemClassCode")
                                .OnValueChanged("onddlItemClassSub2Change")
                                .SearchEnabled(true).ShowClearButton(true)
                                .DataSourceOptions(o => o.Paginate(true).PageSize(10))
                            )
        </div>
    </div>
</div>
